<form [formGroup]="kontaktdatenFormular" class="flex-container">
  <mat-card class="card">
    <h1>Kontaktdaten</h1>
    <mat-card-content>
      <app-name-formular
        [parentForm]="kontaktdatenFormular"
      ></app-name-formular>
      <ng-container formArrayName="adressen">
        <div
          *ngFor="let adresse of getAdressen().controls; let i = index"
          [formGroupName]="i"
        >
          <h3>Adresse {{ i + 1 }}</h3>
          <app-adresse-formular
            [parentForm]="getAdresseAt(i)"
          ></app-adresse-formular></div
      ></ng-container>
      <app-kontaktmoeglichkeiten-formular
        [parentForm]="kontaktdatenFormular"
      ></app-kontaktmoeglichkeiten-formular>
    </mat-card-content>
  </mat-card>
  <button mat-raised-button color="primary" (click)="addAdresse()">
    Adresse hinzufügen
  </button>
  <button
    [disabled]="kontaktdatenFormular?.invalid"
    mat-raised-button
    color="primary"
    (click)="formSenden()"
  >
    Formular senden
  </button>
</form>
<pre>{{ gesendetesObjekt }}</pre>
