<ng-container [formGroup]="parentForm">
  <mat-form-field appearance="standard">
    <mat-label>Straße</mat-label>
    <input formControlName="strasse" matInput />
  </mat-form-field>
  <mat-form-field appearance="standard">
    <mat-label>Hausnummer</mat-label>
    <input formControlName="hausnummer" matInput />
  </mat-form-field>
  <mat-form-field appearance="standard">
    <mat-label>Postleitzahl</mat-label>
    <input formControlName="postleitzahl" matInput />
  </mat-form-field>
  <mat-form-field appearance="standard">
    <mat-label>Ort</mat-label>
    <input formControlName="ort" matInput /> </mat-form-field
></ng-container>
